.192_3 {
  overflow: hidden;
}
.e192_3 {
  background-color: rgba(
    233.7500050663948,
    233.7500050663948,
    233.7500050663948,
    1
  );
  width: 577px;
  height: 1375px;
  position: absolute;
}
.e192_4 {
  width: 307px;
  height: 87px;
  position: absolute;
  left: 120px;
  top: 46px;
  background-image: url(images/at_3.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.e192_23 {
  width: 477px;
  height: 58px;
  position: absolute;
  left: 52px;
  top: 201px;
}
.e192_24 {
  background-color: rgba(255, 255, 255, 1);
  width: 477px;
  height: 58px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.e192_25 {
  color: rgba(124.31250303983688, 124.31250303983688, 124.31250303983688, 1);
  width: 121px;
  height: 35px;
  position: absolute;
  left: 62px;
  top: 14px;
  font-family: Rubik;
  text-align: left;
  font-size: 24px;
  letter-spacing: 0;
  line-height: px;
}
.e192_31 {
  width: 462px;
  height: 38px;
  position: absolute;
  left: 58px;
  top: 288px;
}
.e192_32 {
  color: rgba(0, 0, 0, 1);
  width: 31px;
  height: 30px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Rubik;
  text-align: center;
  font-size: 26px;
  letter-spacing: 0;
  line-height: px;
}
.e192_33 {
  color: rgba(0, 0, 0, 1);
  width: 31px;
  height: 30px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Rubik;
  text-align: center;
  font-size: 26px;
  letter-spacing: 0;
  line-height: px;
}
.e192_34 {
  color: rgba(0, 0, 0, 1);
  width: 78px;
  height: 30px;
  position: absolute;
  left: 301px;
  top: 0px;
  font-family: Rubik;
  text-align: center;
  font-size: 26px;
  letter-spacing: 0;
  line-height: px;
}
.e192_35 {
  color: rgba(0, 0, 0, 1);
  width: 83px;
  height: 30px;
  position: absolute;
  left: 65px;
  top: 0px;
  font-family: Rubik;
  text-align: center;
  font-size: 26px;
  letter-spacing: 0;
  line-height: px;
}
.192_36 {
  border: 2px solid rgba(0, 0, 0, 1);
}
.e192_36 {
  width: 101px;
  height: 0px;
  position: absolute;
  left: 172px;
  top: 38px;
}
.e192_37 {
  color: rgba(0, 0, 0, 1);
  width: 101px;
  height: 30px;
  position: absolute;
  left: 172px;
  top: 0px;
  font-family: Rubik;
  text-align: center;
  text-decoration: underline;
  font-size: 26px;
  letter-spacing: 0;
  line-height: px;
}
.e192_38 {
  color: rgba(0, 0, 0, 1);
  width: 56px;
  height: 30px;
  position: absolute;
  left: 406px;
  top: 0px;
  font-family: Rubik;
  text-align: center;
  font-size: 26px;
  letter-spacing: 0;
  line-height: px;
}
.e192_67 {
  width: 453px;
  height: 149px;
  position: absolute;
  left: 53px;
  top: 355px;
}
.e192_68 {
  background-color: rgba(255, 255, 255, 1);
  width: 453px;
  height: 149px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 29px;
  border-top-right-radius: 29px;
  border-bottom-left-radius: 29px;
  border-bottom-right-radius: 29px;
}
.e192_69 {
  color: rgba(0, 0, 0, 1);
  width: 212px;
  height: 24.1156063079834px;
  position: absolute;
  left: 32px;
  top: 60px;
  font-family: Rubik;
  text-align: left;
  font-size: 20px;
  letter-spacing: 0;
  line-height: px;
}
.e192_70 {
  color: rgba(0, 0, 0, 1);
  width: 285px;
  height: 38px;
  position: absolute;
  left: 29px;
  top: 20px;
  font-family: Rubik;
  text-align: left;
  font-size: 32px;
  letter-spacing: 0;
  line-height: px;
}
.e192_71 {
  width: 134px;
  height: 39px;
  position: absolute;
  left: 34px;
  top: 103px;
}
.e192_72 {
  transform: rotate(0.29542940181670796deg);
  background-color: rgba(
    251.81250303983688,
    237.8788787126541,
    164.72734719514847,
    1
  );
  width: 51px;
  height: 39px;
  position: absolute;
  left: -5.899115085601807px;
  top: -6.131223678588867px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}
.e192_73 {
  color: rgba(0, 0, 0, 1);
  width: 40px;
  height: 27px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Rubik;
  text-align: left;
  font-size: 18px;
  letter-spacing: 0;
  line-height: px;
}
.e192_74 {
  width: 134px;
  height: 39px;
  position: absolute;
  left: 98px;
  top: 103px;
}
.e192_75 {
  background-color: rgba(
    191.19687885046005,
    232.88406193256378,
    250.75000405311584,
    1
  );
  width: 115px;
  height: 39px;
  position: absolute;
  left: -6px;
  top: -6px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}
.e192_76 {
  color: rgba(0, 0, 0, 1);
  width: 114px;
  height: 27px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Rubik;
  text-align: left;
  font-size: 18px;
  letter-spacing: 0;
  line-height: px;
}
.e192_77 {
  width: 453px;
  height: 149px;
  position: absolute;
  left: 54px;
  top: 533px;
}
.e192_78 {
  background-color: rgba(255, 255, 255, 1);
  width: 453px;
  height: 149px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 29px;
  border-top-right-radius: 29px;
  border-bottom-left-radius: 29px;
  border-bottom-right-radius: 29px;
}
.e192_79 {
  color: rgba(0, 0, 0, 1);
  width: 212px;
  height: 24.1156063079834px;
  position: absolute;
  left: 32px;
  top: 60px;
  font-family: Rubik;
  text-align: left;
  font-size: 20px;
  letter-spacing: 0;
  line-height: px;
}
.e192_80 {
  color: rgba(0, 0, 0, 1);
  width: 285px;
  height: 38px;
  position: absolute;
  left: 29px;
  top: 20px;
  font-family: Rubik;
  text-align: left;
  font-size: 32px;
  letter-spacing: 0;
  line-height: px;
}
.e192_81 {
  width: 134px;
  height: 39px;
  position: absolute;
  left: 34px;
  top: 103px;
}
.e192_82 {
  transform: rotate(0.29542940181670796deg);
  background-color: rgba(191.25, 205.27500182390213, 255, 1);
  width: 63.431888580322266px;
  height: 39px;
  position: absolute;
  left: -5.8984375px;
  top: -6.131103515625px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}
.e192_83 {
  color: rgba(0, 0, 0, 1);
  width: 57px;
  height: 27px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Rubik;
  text-align: left;
  font-size: 18px;
  letter-spacing: 0;
  line-height: px;
}
.e192_84 {
  width: 134px;
  height: 39px;
  position: absolute;
  left: 98px;
  top: 103px;
}
.e192_85 {
  background-color: rgba(
    253.93750101327896,
    208.44036877155304,
    252.1176266670227,
    1
  );
  width: 74px;
  height: 39px;
  position: absolute;
  left: 9px;
  top: -5px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}
.e192_86 {
  color: rgba(0, 0, 0, 1);
  width: 69px;
  height: 28px;
  position: absolute;
  left: 14px;
  top: 1px;
  font-family: Rubik;
  text-align: left;
  font-size: 18px;
  letter-spacing: 0;
  line-height: px;
}
.e192_87 {
  width: 453px;
  height: 149px;
  position: absolute;
  left: 54px;
  top: 711px;
}
.e192_88 {
  background-color: rgba(255, 255, 255, 1);
  width: 453px;
  height: 149px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 29px;
  border-top-right-radius: 29px;
  border-bottom-left-radius: 29px;
  border-bottom-right-radius: 29px;
}
.e192_89 {
  color: rgba(0, 0, 0, 1);
  width: 212px;
  height: 24.1156063079834px;
  position: absolute;
  left: 32px;
  top: 60px;
  font-family: Rubik;
  text-align: left;
  font-size: 20px;
  letter-spacing: 0;
  line-height: px;
}
.e192_90 {
  color: rgba(0, 0, 0, 1);
  width: 285px;
  height: 38px;
  position: absolute;
  left: 29px;
  top: 20px;
  font-family: Rubik;
  text-align: left;
  font-size: 32px;
  letter-spacing: 0;
  line-height: px;
}
.e192_91 {
  width: 134px;
  height: 39px;
  position: absolute;
  left: 34px;
  top: 103px;
}
.e192_92 {
  transform: rotate(0.29542940181670796deg);
  background-color: rgba(
    251.81250303983688,
    164.72734719514847,
    185.62780648469925,
    1
  );
  width: 83.68152618408203px;
  height: 39px;
  position: absolute;
  left: -5.8984375px;
  top: -6.131103515625px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}
.e192_93 {
  color: rgba(0, 0, 0, 1);
  width: 71px;
  height: 27px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Rubik;
  text-align: left;
  font-size: 18px;
  letter-spacing: 0;
  line-height: px;
}
.e192_94 {
  color: rgba(143.4375, 143.4375, 143.4375, 1);
  width: 518px;
  height: 50px;
  position: absolute;
  left: 22px;
  top: 871px;
  font-family: Rubik;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0;
  line-height: px;
}
.e211_39 {
  width: 481px;
  height: 85px;
  position: absolute;
  left: 57px;
  top: 1255px;
}
.e211_40 {
  border-radius: 500px;
  background-color: rgba(255, 255, 255, 1);
  width: 85px;
  height: 85px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e211_41 {
  border-radius: 500px;
  background-color: rgba(255, 255, 255, 1);
  width: 85px;
  height: 85px;
  position: absolute;
  left: 133px;
  top: 0px;
}
.e211_42 {
  border-radius: 500px;
  background-color: rgba(255, 255, 255, 1);
  width: 85px;
  height: 85px;
  position: absolute;
  left: 262px;
  top: 0px;
}
.e211_43 {
  border-radius: 500px;
  background-color: rgba(255, 255, 255, 1);
  width: 85px;
  height: 85px;
  position: absolute;
  left: 396px;
  top: 0px;
}
.e211_44 {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 414px;
  top: 17px;
  background-image: url(images/user_2.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.e211_45 {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 277px;
  top: 12px;
  background-image: url(images/group_3.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.e211_46 {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 151px;
  top: 17px;
  background-image: url(images/chat_3.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.e211_47 {
  width: 48.98255920410156px;
  height: 50px;
  position: absolute;
  left: 19px;
  top: 17px;
  background-image: url(images/loupe_2.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.e217_195 {
  width: 29.389535903930664px;
  height: 30px;
  position: absolute;
  left: 68px;
  top: 218px;
  background-image: url(images/loupe_2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.circle {
  border-radius: 500px;
  background-color: rgba(255, 255, 255, 1);
  width: 85px;
  height: 85px;
  position: absolute;
}

.circle:hover {
  cursor: pointer;
}

#circle1 {
  left: 0px;
  top: 0px;
}
#circle2 {
  left: 133px;
  top: 0px;
}
#circle3 {
  left: 262px;
  top: 0px;
}
#circle4 {
  left: 396px;
  top: 0px;
}

span:hover {
  color: lightseagreen;
}

.circle:hover {
  transform: scale(1.2);
  background-color: lightseagreen;
}
