.178_739 {
  overflow: hidden;
}
.e178_739 {
  background-color: rgba(
    233.7500050663948,
    233.7500050663948,
    233.7500050663948,
    1
  );
  width: 577px;
  height: 1375px;
  position: absolute;
}
.e178_740 {
  width: 307px;
  height: 87px;
  position: absolute;
  left: 120px;
  top: 46px;
  background-image: url(images/at_3.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.e178_759 {
  width: 477px;
  height: 58px;
  position: absolute;
  left: 52px;
  top: 201px;
}
.e178_760 {
  background-color: rgba(255, 255, 255, 1);
  width: 477px;
  height: 58px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.e178_761 {
  color: rgba(124.31250303983688, 124.31250303983688, 124.31250303983688, 1);
  width: 76px;
  height: 35px;
  position: absolute;
  left: 62px;
  top: 14px;
  font-family: Rubik;
  text-align: left;
  font-size: 24px;
  letter-spacing: 0;
  line-height: px;
}
.e178_761 input[type="text"] {
  padding: 6px;
  border: none;
  margin-top: 0px;
  margin-right: 0px;
  font-size: 17px;
}

.e217_194 {
  width: 29.389535903930664px;
  height: 30px;
  position: absolute;
  left: 15px;
  top: 17px;
  background-image: url(images/loupe_2.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.e178_797 {
  width: 462px;
  height: 38px;
  position: absolute;
  left: 58px;
  top: 288px;
}
.e178_798 {
  color: rgba(0, 0, 0, 1);
  width: 31px;
  height: 30px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Rubik;
  text-align: center;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  font-size: 26px;
  letter-spacing: 0;
  line-height: px;
}
.e178_799 {
  color: rgba(0, 0, 0, 1);
  width: 31px;
  height: 30px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Rubik;
  text-align: center;
  font-size: 26px;
  letter-spacing: 0;
  line-height: px;
  text-decoration: underline;
}
.e178_800 {
  color: rgba(0, 0, 0, 1);
  width: 78px;
  height: 30px;
  position: absolute;
  left: 301px;
  top: 0px;
  font-family: Rubik;
  text-align: center;
  font-size: 26px;
  letter-spacing: 0;
  line-height: px;
}
.e178_801 {
  color: rgba(0, 0, 0, 1);
  width: 83px;
  height: 30px;
  position: absolute;
  left: 65px;
  top: 0px;
  font-family: Rubik;
  text-align: center;
  font-size: 26px;
  letter-spacing: 0;
  line-height: px;
}

.e178_802 {
  width: 83px;
  height: 0px;
  position: absolute;
  left: 65px;
  top: 38px;
}
.e178_803 {
  color: rgba(0, 0, 0, 1);
  width: 101px;
  height: 30px;
  position: absolute;
  left: 172px;
  top: 0px;
  font-family: Rubik;
  text-align: center;
  font-size: 26px;
  letter-spacing: 0;
  line-height: px;
}
.e178_804 {
  color: rgba(0, 0, 0, 1);
  width: 56px;
  height: 30px;
  position: absolute;
  left: 406px;
  top: 0px;
  font-family: Rubik;
  text-align: center;
  font-size: 26px;
  letter-spacing: 0;
  line-height: px;
}
.e178_835 {
  width: 477px;
  height: 479px;
  position: absolute;
  left: 46px;
  top: 348px;
}
.e178_836 {
  width: 477px;
  height: 178px;
  position: absolute;
  left: 0px;
  top: 59px;
}
.e178_837 {
  background-color: rgba(255, 255, 255, 1);
  width: 329px;
  height: 123px;
  position: absolute;
  left: 148px;
  top: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.e178_838 {
  color: rgba(0, 0, 0, 1);
  width: 244px;
  height: 40px;
  position: absolute;
  left: 164px;
  top: 21px;
  font-family: Rubik;
  text-align: left;
  font-size: 26px;
  letter-spacing: 0;
  line-height: px;
}
.e178_839 {
  color: rgba(0, 0, 0, 1);
  width: 309px;
  height: 38px;
  position: absolute;
  left: 164px;
  top: 69px;
  font-family: Rubik;
  text-align: left;
  font-size: 20px;
  letter-spacing: 0;
  line-height: px;
}
.e211_126 {
  width: 90px;
  height: 90px;
  position: absolute;
  left: 25px;
  top: 16px;
}
.e211_127 {
  border-radius: 500px;
  background-color: rgba(255, 255, 255, 1);
  width: 90px;
  height: 90px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e211_128 {
  width: 39.375px;
  height: 39.375px;
  position: absolute;
  left: 25.3125px;
  top: 25.3125px;
  background-image: url(images/user_2.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.e178_846 {
  color: rgba(124.31250303983688, 124.31250303983688, 124.31250303983688, 1);
  width: 267px;
  height: 44px;
  position: absolute;
  left: 16px;
  top: 35px;
  font-family: Rubik;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
  line-height: px;
}
.e178_847 {
  width: 453px;
  height: 149px;
  position: absolute;
  left: 16px;
  top: 233px;
}
.e178_761 input[type="text"] {
  padding: 6px;
  border: none;
  margin-top: -2px;
  margin-right: 0px;
  font-family: Rubik;
  font-size: 24px;
  outline: none;
  color: #9932cc;
}

.e178_848 {
  background-color: rgba(255, 255, 255, 1);
  width: 453px;
  height: 149px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 29px;
  border-top-right-radius: 29px;
  border-bottom-left-radius: 29px;
  border-bottom-right-radius: 29px;
}
.e178_849 {
  color: rgba(0, 0, 0, 1);
  width: 212px;
  height: 24.1156063079834px;
  position: absolute;
  left: 32px;
  top: 60px;
  font-family: Rubik;
  text-align: left;
  font-size: 20px;
  letter-spacing: 0;
  line-height: px;
}
.e178_850 {
  color: rgba(0, 0, 0, 1);
  width: 285px;
  height: 38px;
  position: absolute;
  left: 29px;
  top: 20px;
  font-family: Rubik;
  text-align: left;
  font-size: 32px;
  letter-spacing: 0;
  line-height: px;
}
.e178_851 {
  width: 134px;
  height: 39px;
  position: absolute;
  left: 34px;
  top: 103px;
}
.e178_852 {
  transform: rotate(0.29542940181670796deg);
  background-color: rgba(
    251.81250303983688,
    237.8788787126541,
    164.72734719514847,
    1
  );
  width: 51px;
  height: 39px;
  position: absolute;
  left: -5.899115085601807px;
  top: -6.131223678588867px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}
.e178_853 {
  color: rgba(0, 0, 0, 1);
  width: 40px;
  height: 27px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Rubik;
  text-align: left;
  font-size: 18px;
  letter-spacing: 0;
  line-height: px;
}
.e178_854 {
  width: 134px;
  height: 39px;
  position: absolute;
  left: 98px;
  top: 103px;
}
.e178_855 {
  background-color: rgba(
    191.19687885046005,
    232.88406193256378,
    250.75000405311584,
    1
  );
  width: 115px;
  height: 39px;
  position: absolute;
  left: -6px;
  top: -6px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}
.e178_856 {
  color: rgba(0, 0, 0, 1);
  width: 114px;
  height: 27px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Rubik;
  text-align: left;
  font-size: 18px;
  letter-spacing: 0;
  line-height: px;
}
.e178_857 {
  color: rgba(124.31250303983688, 124.31250303983688, 124.31250303983688, 1);
  width: 267px;
  height: 44px;
  position: absolute;
  left: 16px;
  top: 193px;
  font-family: Rubik;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
  line-height: px;
}
.e178_858 {
  width: 70px;
  height: 39px;
  position: absolute;
  left: 16px;
  top: 440px;
}
.e178_859 {
  background-color: rgba(255, 255, 255, 1);
  width: 70px;
  height: 39px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.e178_860 {
  color: rgba(0, 0, 0, 1);
  width: 60px;
  height: 27px;
  position: absolute;
  left: 6px;
  top: 6px;
  font-family: Rubik;
  text-align: left;
  font-size: 18px;
  letter-spacing: 0;
  line-height: px;
}
.e178_861 {
  color: rgba(124.31250303983688, 124.31250303983688, 124.31250303983688, 1);
  width: 267px;
  height: 44px;
  position: absolute;
  left: 20px;
  top: 403px;
  font-family: Rubik;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
  line-height: px;
}
.e178_862 {
  color: rgba(124.31250303983688, 124.31250303983688, 124.31250303983688, 1);
  width: 267px;
  height: 44px;
  position: absolute;
  left: 2px;
  top: 0px;
  font-family: Rubik;
  text-align: left;
  font-size: 18px;
  letter-spacing: 0;
  line-height: px;
}
.e211_30 {
  width: 481px;
  height: 85px;
  position: absolute;
  left: 44px;
  top: 1255px;
}
.circle {
  border-radius: 500px;
  background-color: rgba(255, 255, 255, 1);
  width: 85px;
  height: 85px;
  position: absolute;
}

.circle:hover {
  cursor: pointer;
}

#circle1 {
  left: 0px;
  top: 0px;
}
#circle2 {
  left: 133px;
  top: 0px;
}
#circle3 {
  left: 262px;
  top: 0px;
}
#circle4 {
  left: 396px;
  top: 0px;
}

.button1 {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 414px;
  top: 17px;
  /* background-image:url(images/user_2.png);
	background-repeat:no-repeat;
	background-size:cover; */
}
.button1:hover {
  cursor: pointer;
}
.button2 {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 277px;
  top: 12px;
  /* background-image:url(images/group_3.png);
	background-repeat:no-repeat;
	background-size:cover; */
}
.button2:hover {
  cursor: pointer;
}
.button3 {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 151px;
  top: 17px;
  /* background-image:url(images/chat_3.png);
	background-repeat:no-repeat;
	background-size:cover; */
}
.button3:hover {
  cursor: pointer;
}
.button4 {
  width: 48.98255920410156px;
  height: 50px;
  position: absolute;
  left: 19px;
  top: 17px;
  /* background-image:url(images/loupe_2.png);
	background-repeat:no-repeat;
	background-size:cover; */
}
.button4:hover {
  cursor: pointer;
}
.e211_31 {
  border-radius: 500px;
  background-color: rgba(255, 255, 255, 1);
  width: 85px;
  height: 85px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e211_32 {
  border-radius: 500px;
  background-color: rgba(255, 255, 255, 1);
  width: 85px;
  height: 85px;
  position: absolute;
  left: 133px;
  top: 0px;
}
.e211_33 {
  border-radius: 500px;
  background-color: rgba(255, 255, 255, 1);
  width: 85px;
  height: 85px;
  position: absolute;
  left: 262px;
  top: 0px;
}
.e211_34 {
  border-radius: 500px;
  background-color: rgba(255, 255, 255, 1);
  width: 85px;
  height: 85px;
  position: absolute;
  left: 396px;
  top: 0px;
}
.e211_35 {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 414px;
  top: 17px;
  background-image: url(images/user_2.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.e211_36 {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 277px;
  top: 12px;
  background-image: url(images/group_3.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.e211_37 {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 151px;
  top: 17px;
  background-image: url(images/chat_3.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.e211_38 {
  width: 48.98255920410156px;
  height: 50px;
  position: absolute;
  left: 19px;
  top: 17px;
  background-image: url(images/loupe_2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

span:hover {
  color: lightseagreen;
}

.circle:hover {
  transform: scale(1.2);
  background-color: lightseagreen;
}
