.192_95 { 
	overflow:hidden;
}
.e192_95 { 
	background-color:rgba(233.7500050663948, 233.7500050663948, 233.7500050663948, 1);
	width:577px;
	height:1375px;
	position:absolute;
}
.e192_96 { 
	width:307px;
	height:87px;
	position:absolute;
	left:120px;
	top:46px;
	background-image:url(images/at_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e192_115 { 
	width:477px;
	height:58px;
	position:absolute;
	left:52px;
	top:201px;
}
.e192_116 { 
	background-color:rgba(255, 255, 255, 1);
	width:477px;
	height:58px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.e192_117 { 
	color:rgba(124.31250303983688, 124.31250303983688, 124.31250303983688, 1);
	width:92px;
	height:35px;
	position:absolute;
	left:62px;
	top:14px;
	font-family:Rubik;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
	line-height:px;
}
.e192_123 { 
	width:462px;
	height:37px;
	position:absolute;
	left:58px;
	top:288px;
}
.e192_124 { 
	color:rgba(0, 0, 0, 1);
	width:31px;
	height:30px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Rubik;
	text-align:center;
	font-size:26px;
	letter-spacing:0;
	line-height:px;
}
.e192_125 { 
	color:rgba(0, 0, 0, 1);
	width:31px;
	height:30px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Rubik;
	text-align:center;
	font-size:26px;
	letter-spacing:0;
	line-height:px;
}
.e192_126 { 
	color:rgba(0, 0, 0, 1);
	width:78px;
	height:30px;
	position:absolute;
	left:301px;
	top:0px;
	font-family:Rubik;
	text-align:center;
	font-size:26px;
	letter-spacing:0;
	line-height:px;
}
.e192_127 { 
	color:rgba(0, 0, 0, 1);
	width:83px;
	height:30px;
	position:absolute;
	left:65px;
	top:0px;
	font-family:Rubik;
	text-align:center;
	font-size:26px;
	letter-spacing:0;
	line-height:px;
}
.e192_128 { 
	transform: rotate(-1.4033419209422001e-14deg);
	width:56px;
	height:0px;
	position:absolute;
	left:406px;
	top:37px;
}
.192_128 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e192_129 { 
	color:rgba(0, 0, 0, 1);
	width:101px;
	height:30px;
	position:absolute;
	left:172px;
	top:0px;
	font-family:Rubik;
	text-align:center;
	font-size:26px;
	letter-spacing:0;
	line-height:px;
}
.e192_130 { 
	color:rgba(0, 0, 0, 1);
	width:56px;
	height:30px;
	position:absolute;
	left:406px;
	top:0px;
	font-family:Rubik;
	text-align:center;
	text-decoration: underline;
	font-size:26px;
	letter-spacing:0;
	line-height:px;
}
.e192_159 { 
	width:124px;
	height:37px;
	position:absolute;
	left:195px;
	top:358px;
}
.e192_160 { 
	background-color:rgba(255, 255, 255, 1);
	width:108.2686538696289px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.e192_161 { 
	color:rgba(0, 0, 0, 1);
	width:128px;
	height:27px;
	position:absolute;
	left:6px;
	top:6px;
	font-family:Rubik;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e192_162 { 
	width:98px;
	height:39px;
	position:absolute;
	left:319px;
	top:356px;
}
.e192_163 { 
	background-color:rgba(255, 255, 255, 1);
	width:85.5671615600586px;
	height:39px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.e192_164 { 
	color:rgba(0, 0, 0, 1);
	width:98px;
	height:26px;
	position:absolute;
	left:6px;
	top:6px;
	font-family:Rubik;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e192_165 { 
	width:259px;
	height:41px;
	position:absolute;
	left:56px;
	top:410px;
}
.e192_166 { 
	background-color:rgba(255, 255, 255, 1);
	width:173px;
	height:41px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.e192_167 { 
	color:rgba(0, 0, 0, 1);
	width:177px;
	height:29px;
	position:absolute;
	left:6px;
	top:6px;
	font-family:Rubik;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e192_168 { 
	width:134px;
	height:41px;
	position:absolute;
	left:243px;
	top:410px;
}
.e192_169 { 
	background-color:rgba(255, 255, 255, 1);
	width:58.26087188720703px;
	height:41px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.e192_170 { 
	color:rgba(0, 0, 0, 1);
	width:71px;
	height:28px;
	position:absolute;
	left:6px;
	top:6px;
	font-family:Rubik;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e192_171 { 
	width:134px;
	height:41px;
	position:absolute;
	left:422px;
	top:355px;
}
.e192_172 { 
	background-color:rgba(255, 255, 255, 1);
	width:82px;
	height:41px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.e192_173 { 
	color:rgba(0, 0, 0, 1);
	width:71px;
	height:28px;
	position:absolute;
	left:6px;
	top:6px;
	font-family:Rubik;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e192_174 { 
	color:rgba(143.4375, 143.4375, 143.4375, 1);
	width:518px;
	height:50px;
	position:absolute;
	left:25px;
	top:499px;
	font-family:Rubik;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
	line-height:px;
}
.e192_175 { 
	width:138px;
	height:41px;
	position:absolute;
	left:57px;
	top:356px;
}
.e192_176 { 
	background-color:rgba(255, 255, 255, 1);
	width:120.49253845214844px;
	height:41px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.e192_177 { 
	color:rgba(0, 0, 0, 1);
	width:128px;
	height:27px;
	position:absolute;
	left:6px;
	top:6px;
	font-family:Rubik;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e211_48 { 
	width:481px;
	height:85px;
	position:absolute;
	left:43px;
	top:1243px;
}
.e211_49 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:85px;
	height:85px;
	position:absolute;
	left:0px;
	top:0px;
}
.e211_50 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:85px;
	height:85px;
	position:absolute;
	left:133px;
	top:0px;
}
.e211_51 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:85px;
	height:85px;
	position:absolute;
	left:262px;
	top:0px;
}
.e211_52 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:85px;
	height:85px;
	position:absolute;
	left:396px;
	top:0px;
}
.e211_53 { 
	width:50px;
	height:50px;
	position:absolute;
	left:414px;
	top:17px;
	background-image:url(images/user_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e211_54 { 
	width:60px;
	height:60px;
	position:absolute;
	left:277px;
	top:12px;
	background-image:url(images/group_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e211_55 { 
	width:50px;
	height:50px;
	position:absolute;
	left:151px;
	top:17px;
	background-image:url(images/chat_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e211_56 { 
	width:48.98255920410156px;
	height:50px;
	position:absolute;
	left:19px;
	top:17px;
	background-image:url(images/loupe_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e217_196 { 
	width:29.389535903930664px;
	height:30px;
	position:absolute;
	left:63px;
	top:215px;
	background-image:url(images/loupe_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.circle { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:85px;
	height:85px;
	position:absolute;
	
}

.circle:hover { 
	cursor: pointer;
}

#circle1 {
	left:0px;
	top:0px;
}
#circle2 {
	left:133px;
	top:0px;
}
#circle3 {
	left:262px;
	top:0px;
}
#circle4 {
	left:396px;
	top:0px;
}
