.178_596 { 
	overflow:hidden;
}
.e178_596 { 
	background-color:rgba(233.7500050663948, 233.7500050663948, 233.7500050663948, 1);
	width:577px;
	height:1375px;
	position:absolute;
}
.e178_597 { 
	width:307px;
	height:87px;
	position:absolute;
	left:120px;
	top:46px;
	background-image:url(images/at_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e178_692 { 
	width:477px;
	height:58px;
	position:absolute;
	left:52px;
	top:201px;
}
.e178_693 { 
	background-color:rgba(255, 255, 255, 1);
	width:477px;
	height:58px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.e178_694 { 
	color:rgba(124.31250303983688, 124.31250303983688, 124.31250303983688, 1);
	width:76px;
	height:35px;
	position:absolute;
	left:62px;
	top:14px;
	font-family:Rubik;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:px;
}
.e178_700 { 
	width:454px;
	height:123px;
	position:absolute;
	left:61px;
	top:355px;
}
.e178_707 { 
	background-color:rgba(255, 255, 255, 1);
	width:371px;
	height:123px;
	position:absolute;
	left:83px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.e178_708 { 
	color:rgba(0, 0, 0, 1);
	width:244px;
	height:40px;
	position:absolute;
	left:99px;
	top:19px;
	font-family:Rubik;
	text-align:left;
	font-size:26px;
	letter-spacing:0;
	line-height:px;
}
.e178_709 { 
	color:rgba(0, 0, 0, 1);
	width:309px;
	height:38px;
	position:absolute;
	left:99px;
	top:67px;
	font-family:Rubik;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.e178_710 { 
	width:454px;
	height:123px;
	position:absolute;
	left:61px;
	top:516px;
}
.e178_717 { 
	background-color:rgba(255, 255, 255, 1);
	width:371px;
	height:123px;
	position:absolute;
	left:83px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.e178_718 { 
	color:rgba(0, 0, 0, 1);
	width:244px;
	height:40px;
	position:absolute;
	left:99px;
	top:19px;
	font-family:Rubik;
	text-align:left;
	font-size:26px;
	letter-spacing:0;
	line-height:px;
}
.e178_719 { 
	color:rgba(0, 0, 0, 1);
	width:309px;
	height:38px;
	position:absolute;
	left:99px;
	top:67px;
	font-family:Rubik;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.e178_720 { 
	width:454px;
	height:123px;
	position:absolute;
	left:64px;
	top:677px;
}
.e178_727 { 
	background-color:rgba(255, 255, 255, 1);
	width:371px;
	height:123px;
	position:absolute;
	left:83px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.e178_728 { 
	color:rgba(0, 0, 0, 1);
	width:244px;
	height:40px;
	position:absolute;
	left:99px;
	top:19px;
	font-family:Rubik;
	text-align:left;
	font-size:26px;
	letter-spacing:0;
	line-height:px;
}
.e178_729 { 
	color:rgba(0, 0, 0, 1);
	width:309px;
	height:38px;
	position:absolute;
	left:99px;
	top:67px;
	font-family:Rubik;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.e178_730 { 
	width:462px;
	height:38px;
	position:absolute;
	left:58px;
	top:288px;
}
.e178_731 { 
	color:rgba(0, 0, 0, 1);
	width:31px;
	height:30px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Rubik;
	text-align:center;
	font-size:26px;
	letter-spacing:0;
	line-height:px;
}
.e178_732 { 
	color:rgba(0, 0, 0, 1);
	width:31px;
	height:30px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Rubik;
	text-align:center;
	font-size:26px;
	letter-spacing:0;
	line-height:px;
}
.e178_733 { 
	color:rgba(0, 0, 0, 1);
	width:78px;
	height:30px;
	position:absolute;
	left:301px;
	top:0px;
	font-family:Rubik;
	text-align:center;
	font-size:26px;
	letter-spacing:0;
	line-height:px;
}
.e178_734 { 
	color:rgba(0, 0, 0, 1);
	width:83px;
	height:30px;
	position:absolute;
	left:65px;
	top:0px;
	font-family:Rubik;
	text-align:center;
	text-decoration: underline;
	font-size:26px;
	letter-spacing:0;
	line-height:px;
}
.178_735 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e178_735 { 
	width:83px;
	height:0px;
	position:absolute;
	left:65px;
	top:38px;
}
.e178_736 { 
	color:rgba(0, 0, 0, 1);
	width:101px;
	height:30px;
	position:absolute;
	left:172px;
	top:0px;
	font-family:Rubik;
	text-align:center;
	font-size:26px;
	letter-spacing:0;
	line-height:px;
}
.e178_737 { 
	color:rgba(0, 0, 0, 1);
	width:56px;
	height:30px;
	position:absolute;
	left:406px;
	top:0px;
	font-family:Rubik;
	text-align:center;
	font-size:26px;
	letter-spacing:0;
	line-height:px;
}
.e158_204 { 
	color:rgba(143.4375, 143.4375, 143.4375, 1);
	width:518px;
	height:50px;
	position:absolute;
	left:30px;
	top:823px;
	font-family:Rubik;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e186_2 { 
	transform: rotate(90deg);
	width:28px;
	height:0px;
	position:absolute;
	left:132px;
	top:215px;
}
.186_2 { 
	border:2px solid rgba(58.437505066394806, 113.47499817609787, 255, 1);
}
.e211_21 { 
	width:481px;
	height:85px;
	position:absolute;
	left:48px;
	top:1254px;
}
.e211_22 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:85px;
	height:85px;
	position:absolute;
	left:0px;
	top:0px;
}
.e211_23 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:85px;
	height:85px;
	position:absolute;
	left:133px;
	top:0px;
}
.e211_24 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:85px;
	height:85px;
	position:absolute;
	left:262px;
	top:0px;
}
.e211_25 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:85px;
	height:85px;
	position:absolute;
	left:396px;
	top:0px;
}
.e211_26 { 
	width:50px;
	height:50px;
	position:absolute;
	left:414px;
	top:17px;
	background-image:url(images/user_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e211_27 { 
	width:60px;
	height:60px;
	position:absolute;
	left:277px;
	top:12px;
	background-image:url(images/group_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e211_28 { 
	width:50px;
	height:50px;
	position:absolute;
	left:151px;
	top:17px;
	background-image:url(images/chat_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e211_29 { 
	width:48.98255920410156px;
	height:50px;
	position:absolute;
	left:19px;
	top:17px;
	background-image:url(images/loupe_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e211_99 { 
	width:90px;
	height:90px;
	position:absolute;
	left:29px;
	top:370px;
}
.e211_100 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:90px;
	height:90px;
	position:absolute;
	left:0px;
	top:0px;
}
.e211_101 { 
	width:39.375px;
	height:39.375px;
	position:absolute;
	left:25.3125px;
	top:25.3125px;
	background-image:url(images/user_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e211_120 { 
	width:90px;
	height:90px;
	position:absolute;
	left:29px;
	top:533px;
}
.e211_121 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:90px;
	height:90px;
	position:absolute;
	left:0px;
	top:0px;
}
.e211_122 { 
	width:39.375px;
	height:39.375px;
	position:absolute;
	left:25.3125px;
	top:25.3125px;
	background-image:url(images/user_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e211_123 { 
	width:90px;
	height:90px;
	position:absolute;
	left:29px;
	top:699px;
}
.e211_124 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:90px;
	height:90px;
	position:absolute;
	left:0px;
	top:0px;
}
.e211_125 { 
	width:39.375px;
	height:39.375px;
	position:absolute;
	left:25.3125px;
	top:25.3125px;
	background-image:url(images/user_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e217_147 { 
	width:29.389535903930664px;
	height:30px;
	position:absolute;
	left:69px;
	top:218px;
	background-image:url(images/loupe_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}

.circle { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:85px;
	height:85px;
	position:absolute;
	
}

.circle:hover { 
	cursor: pointer;
}

#circle1 {
	left:0px;
	top:0px;
}
#circle2 {
	left:133px;
	top:0px;
}
#circle3 {
	left:262px;
	top:0px;
}
#circle4 {
	left:396px;
	top:0px;
}