.212_68 {
  overflow: hidden;
}
.e212_68 {
  background-color: rgba(
    233.7500050663948,
    233.7500050663948,
    233.7500050663948,
    1
  );
  width: 577px;
  height: 1375px;
  position: absolute;
}
.e212_69 {
  width: 307px;
  height: 94.40774536132812px;
  position: absolute;
  left: 129px;
  top: 36px;
  background-image: url(images/at_3.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.e212_80 {
  width: 438px;
  height: 95px;
  position: absolute;
  left: 73px;
  top: 314px;
}
.e212_81 {
  background-color: rgba(255, 255, 255, 1);
  width: 438px;
  height: 95px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e212_82 {
  color: rgba(0, 0, 0, 1);
  width: 197px;
  height: 21px;
  position: absolute;
  left: 22px;
  top: 37px;
  font-family: Rubik;
  text-align: center;
  font-size: 36px;
  letter-spacing: 0;
  line-height: px;
}
.e212_325 {
  color: rgba(0, 0, 0, 1);
  width: 34px;
  height: 37px;
  position: absolute;
  left: 340px;
  top: 33px;
  font-family: Rubik;
  text-align: left;
  font-size: 36px;
  letter-spacing: 0;
  line-height: px;
}
.e211_146 {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 374px;
  top: 28px;
  background-image: url(images/user_2.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.e212_446 {
  color: rgba(0, 0, 0, 1);
  width: 262px;
  height: 34px;
  position: absolute;
  left: 74px;
  top: 638px;
  font-family: Rubik;
  text-align: left;
  font-size: 20px;
  letter-spacing: 0;
  line-height: px;
}
.e212_448 {
  color: rgba(0, 0, 0, 1);
  width: 262px;
  height: 34px;
  position: absolute;
  left: 73px;
  top: 850px;
  font-family: Rubik;
  text-align: left;
  font-size: 20px;
  letter-spacing: 0;
  line-height: px;
}
.e212_424 {
  width: 477px;
  height: 178px;
  position: absolute;
  left: 44px;
  top: 688px;
}
.e212_425 {
  background-color: rgba(255, 255, 255, 1);
  width: 329px;
  height: 123px;
  position: absolute;
  left: 148px;
  top: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.e212_426 {
  color: rgba(0, 0, 0, 1);
  width: 244px;
  height: 40px;
  position: absolute;
  left: 164px;
  top: 21px;
  font-family: Rubik;
  text-align: left;
  font-size: 26px;
  letter-spacing: 0;
  line-height: px;
}
.e212_427 {
  color: rgba(0, 0, 0, 1);
  width: 309px;
  height: 38px;
  position: absolute;
  left: 164px;
  top: 69px;
  font-family: Rubik;
  text-align: left;
  font-size: 20px;
  letter-spacing: 0;
  line-height: px;
}
.e212_428 {
  width: 90px;
  height: 90px;
  position: absolute;
  left: 25px;
  top: 16px;
}
.e212_429 {
  border-radius: 500px;
  background-color: rgba(255, 255, 255, 1);
  width: 90px;
  height: 90px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e212_430 {
  width: 39.375px;
  height: 39.375px;
  position: absolute;
  left: 25.3125px;
  top: 25.3125px;
  background-image: url(images/user_2.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.e210_2 {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 447px;
  top: 148px;
  background-image: url(images/plus_1.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.e217_199 {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 487px;
  top: 625px;
  background-image: url(images/plus_2.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.e212_432 {
  width: 477px;
  height: 178px;
  position: absolute;
  left: 44px;
  top: 900px;
}
.e212_433 {
  background-color: rgba(255, 255, 255, 1);
  width: 329px;
  height: 123px;
  position: absolute;
  left: 148px;
  top: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.e212_434 {
  color: rgba(0, 0, 0, 1);
  width: 244px;
  height: 40px;
  position: absolute;
  left: 164px;
  top: 21px;
  font-family: Rubik;
  text-align: left;
  font-size: 26px;
  letter-spacing: 0;
  line-height: px;
}
.e212_435 {
  color: rgba(0, 0, 0, 1);
  width: 309px;
  height: 38px;
  position: absolute;
  left: 164px;
  top: 69px;
  font-family: Rubik;
  text-align: left;
  font-size: 20px;
  letter-spacing: 0;
  line-height: px;
}
.e212_436 {
  width: 90px;
  height: 90px;
  position: absolute;
  left: 25px;
  top: 16px;
}
.e212_437 {
  border-radius: 500px;
  background-color: rgba(255, 255, 255, 1);
  width: 90px;
  height: 90px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e212_438 {
  width: 39.375px;
  height: 39.375px;
  position: absolute;
  left: 25.3125px;
  top: 25.3125px;
  background-image: url(images/user_2.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.e212_439 {
  width: 477px;
  height: 178px;
  position: absolute;
  left: 44px;
  top: 1062px;
}
.e212_440 {
  background-color: rgba(255, 255, 255, 1);
  width: 329px;
  height: 123px;
  position: absolute;
  left: 148px;
  top: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.e212_441 {
  color: rgba(0, 0, 0, 1);
  width: 244px;
  height: 40px;
  position: absolute;
  left: 164px;
  top: 21px;
  font-family: Rubik;
  text-align: left;
  font-size: 26px;
  letter-spacing: 0;
  line-height: px;
}
.e210_2:hover {
  cursor: pointer;
  border-radius: 20px;
  background-color: #9932cc;
}

.e217_199:hover {
  cursor: pointer;
  border-radius: 20px;
  background-color: #9932cc;
}
.e212_442 {
  color: rgba(0, 0, 0, 1);
  width: 309px;
  height: 38px;
  position: absolute;
  left: 164px;
  top: 69px;
  font-family: Rubik;
  text-align: left;
  font-size: 20px;
  letter-spacing: 0;
  line-height: px;
}
.e212_443 {
  width: 90px;
  height: 90px;
  position: absolute;
  left: 25px;
  top: 16px;
}
.e212_444 {
  border-radius: 500px;
  background-color: rgba(255, 255, 255, 1);
  width: 90px;
  height: 90px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e212_445 {
  width: 39.375px;
  height: 39.375px;
  position: absolute;
  left: 25.3125px;
  top: 25.3125px;
  background-image: url(images/user_2.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.e212_166 {
  width: 481px;
  height: 85px;
  position: absolute;
  left: 48px;
  top: 1240px;
}
.e212_167 {
  border-radius: 500px;
  background-color: rgba(255, 255, 255, 1);
  width: 85px;
  height: 85px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e212_168 {
  border-radius: 500px;
  background-color: rgba(255, 255, 255, 1);
  width: 85px;
  height: 85px;
  position: absolute;
  left: 133px;
  top: 0px;
}
.e212_169 {
  border-radius: 500px;
  background-color: rgba(255, 255, 255, 1);
  width: 85px;
  height: 85px;
  position: absolute;
  left: 262px;
  top: 0px;
}
.e212_170 {
  border-radius: 500px;
  background-color: rgba(255, 255, 255, 1);
  width: 85px;
  height: 85px;
  position: absolute;
  left: 396px;
  top: 0px;
}
.e212_171 {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 414px;
  top: 17px;
  background-image: url(images/user_2.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.e212_172 {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 277px;
  top: 12px;
  background-image: url(images/group_3.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.e212_173 {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 151px;
  top: 17px;
  background-image: url(images/chat_3.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.e212_174 {
  width: 48.98255920410156px;
  height: 50px;
  position: absolute;
  left: 19px;
  top: 17px;
  background-image: url(images/loupe_2.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.e211_137 {
  width: 214px;
  height: 142px;
  position: absolute;
  left: 192px;
  top: 151px;
}
.e211_138 {
  width: 214px;
  height: 142px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e211_139 {
  width: 214px;
  height: 142px;
  position: absolute;
  left: 0px;
  top: 3.552713678800501e-15px;
}
.e211_140 {
  background-color: rgba(255, 255, 255, 1);
  width: 214px;
  height: 142px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 21px;
  border-top-right-radius: 21px;
  border-bottom-left-radius: 21px;
  border-bottom-right-radius: 21px;
}
.e211_141 {
  width: 28px;
  height: 19px;
  position: absolute;
  left: 93px;
  top: 62px;
}
.e211_142 {
  background-color: rgba(
    148.000006377697,
    162.00000554323196,
    171.00000500679016,
    1
  );
  width: 27.88233757019043px;
  height: 19.01978302001953px;
  position: absolute;
  left: 0.022002052515745163px;
  top: 0px;
}
.e211_143 {
  background-color: rgba(
    114.0000008046627,
    128.0000075697899,
    138.00000697374344,
    1
  );
  width: 4.664487361907959px;
  height: 4.704562664031982px;
  position: absolute;
  left: 18.546321868896484px;
  top: 0px;
}
.e211_144 {
  transform: rotate(180deg);
  background-color: rgba(
    114.0000008046627,
    128.0000075697899,
    138.00000697374344,
    1
  );
  width: 21.815105438232422px;
  height: 17.22287940979004px;
  position: absolute;
  left: 21.015790939331055px;
  top: 18.94875717163086px;
  border-radius: 1px;
}
.e211_145 {
  transform: rotate(-55.999999544926965deg);
  background-color: rgba(
    114.0000008046627,
    128.0000075697899,
    138.00000697374344,
    1
  );
  width: 13.05107593536377px;
  height: 12.754717826843262px;
  position: absolute;
  left: 13.611777305603027px;
  top: 18.65985870361328px;
  border-radius: 1px;
}
.e212_414 {
  width: 453px;
  height: 149px;
  position: absolute;
  left: 67px;
  top: 443px;
}
.e212_415 {
  background-color: rgba(255, 255, 255, 1);
  width: 453px;
  height: 149px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 29px;
  border-top-right-radius: 29px;
  border-bottom-left-radius: 29px;
  border-bottom-right-radius: 29px;
}
.e212_416 {
  color: rgba(0, 0, 0, 1);
  width: 212px;
  height: 24.1156063079834px;
  position: absolute;
  left: 32px;
  top: 60px;
  font-family: Rubik;
  text-align: left;
  font-size: 20px;
  letter-spacing: 0;
  line-height: px;
}
.e212_417 {
  color: rgba(0, 0, 0, 1);
  width: 285px;
  height: 38px;
  position: absolute;
  left: 29px;
  top: 20px;
  font-family: Rubik;
  text-align: left;
  font-size: 32px;
  letter-spacing: 0;
  line-height: px;
}
.e212_418 {
  width: 134px;
  height: 39px;
  position: absolute;
  left: 34px;
  top: 103px;
}
.e212_419 {
  transform: rotate(0.29542940181670796deg);
  background-color: rgba(
    251.81250303983688,
    237.8788787126541,
    164.72734719514847,
    1
  );
  width: 51px;
  height: 39px;
  position: absolute;
  left: -5.899115085601807px;
  top: -6.131223678588867px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}
.e212_420 {
  color: rgba(0, 0, 0, 1);
  width: 40px;
  height: 27px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Rubik;
  text-align: left;
  font-size: 18px;
  letter-spacing: 0;
  line-height: px;
}
.e212_421 {
  width: 134px;
  height: 39px;
  position: absolute;
  left: 98px;
  top: 103px;
}
.e212_422 {
  background-color: rgba(
    191.19687885046005,
    232.88406193256378,
    250.75000405311584,
    1
  );
  width: 115px;
  height: 39px;
  position: absolute;
  left: -6px;
  top: -6px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}
.e212_423 {
  color: rgba(0, 0, 0, 1);
  width: 114px;
  height: 27px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Rubik;
  text-align: left;
  font-size: 18px;
  letter-spacing: 0;
  line-height: px;
}

.circle {
  border-radius: 500px;
  background-color: rgba(255, 255, 255, 1);
  width: 85px;
  height: 85px;
  position: absolute;
}

.circle:hover {
  cursor: pointer;
}

#circle1 {
  left: 0px;
  top: 0px;
}
#circle2 {
  left: 133px;
  top: 0px;
}
#circle3 {
  left: 262px;
  top: 0px;
}
#circle4 {
  left: 396px;
  top: 0px;
}

span:hover {
  color: lightseagreen;
}

.circle:hover {
  transform: scale(1.2);
  background-color: lightseagreen;
}
